/* ----------------------------------------------------------------
	Basic
-----------------------------------------------------------------*/
section {
    margin-top: 16px;
}

/* ----------------------------------------------------------------
	Card
-----------------------------------------------------------------*/
img.profile {
    max-height: 85vh;
}

/* ----------------------------------------------------------------
	Responsive
-----------------------------------------------------------------*/
@media (max-width: 767px) {
    .card.horizontal {
        display: grid;
    }
    .card.horizontal .card-image {
        max-width: 100%;
    }
    .card.horizontal .card-image img {
        margin: auto;
    }
}