/* ----------------------------------------------------------------
	Basic
-----------------------------------------------------------------*/
body {
  font-family: Arial !important;
}

section {
    margin-top: 16px;
}

/* ----------------------------------------------------------------
    Helper Classes
-----------------------------------------------------------------*/
.mt-auto {
    margin-top: auto;
}

/* ----------------------------------------------------------------
	Card
-----------------------------------------------------------------*/
img.profile {
    max-height: 85vh;
}

/* ----------------------------------------------------------------
	Responsive
-----------------------------------------------------------------*/
@media (max-width: 767px) {
    .card.horizontal {
        display: grid;
    }
    .card.horizontal .card-image {
        max-width: 100%;
    }
    .card.horizontal .card-image img {
        margin: auto;
    }
}

.custom-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}